html, body {
  height: 100%;
}

/* widgets */

._mcw_tom_container {
  display: inline-block;
  background-color: #fff;
}
._mcw_tom_title {
  text-align: center;
  font-size: 1.3rem;
  font-family: "Rubik", "sans-serif";
  padding: 0.5rem 0rem;
  color: #333;
}

._mcw_pmp_container {
  display: inline-block;
  width: 900px;
  height: 500px;
  background-color: #fff;
}
@media only screen and (max-width: 780px) {
  ._mcw_pmp_container {
    width: 90vw;
  }
}

._mcw_cd_container {
    display: inline-flex;
    justify-content: space-between;
    font-family: 'Rubik', 'sans-serif';
    color: #333;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    width: 600px;
}

._mcw_cd_section {
  padding : 0.5rem 0.3rem;
  flex-grow: 1;
}

@media only screen and (max-width: 500px){
  ._mcw_cd_container{
    width: 100%;
  }
}


._mcw_cd_values{
  font-weight: 450;
  font-size: 1.4rem;
}

._mcw_cd_label{
    font-weight: 350;
    font-size: 0.9rem;
    padding: 0.5rem 0.3rem;
}

._mcw_cd_opt{
  font-style: italic;
}

._mcw_cd_vertical {
  flex-direction: column;
}

._mcw_cd_horizontal {
  flex-direction: row;
}

._mcw_cd_horizontal > ._mcw_cd_section {
border-right: 1px solid #d2d2d2;
}
._mcw_cd_vertical > ._mcw_cd_section {
border-bottom: 1px solid #d2d2d2;
}
._mcw_cd_horizontal > ._mcw_cd_section:last-child {
border-right:none;
}
._mcw_cd_vertical > ._mcw_cd_section:last-child {
border-bottom : none;
}