<div  class="container-fluid mt-5 d-block  align-content-center " >
    <div class="row " >
        <div  [formGroup]="changePassFormGroup" class="">
          
            <mat-form-field>
                <mat-label>Enter New Password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="newPassword">
                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                  <mat-icon>{{hide1? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
           
        </div>
       
<br>
        <div >
            <button  mat-raised-button [mat-dialog-close]="changePassFormGroup.get('confirmPassword')?.value" [disabled]="changePassFormGroup.invalid" >  Change</button>
           
            <button class="ms-5" mat-raised-button  (click)="onNoClick()">Cancel</button>
        </div>
    </div>
</div>
