<div *ngIf="isLoading">
    <app-progress-loader></app-progress-loader>
</div>
<div class="container-fluid" *ngIf="!isLoading">
    <div class="row">
        <div class="col-sm-8 d-flex align-items-center justify-content-center">
            <h1 style="color: rgb(104, 104, 167); text-decoration: solid;">{{showUserCard?.firstName |uppercase}}
                {{showUserCard?.lastName|uppercase}}</h1>
        </div>
        <div class="col-sm-4">
            <img mat-card-image *ngIf="(showUserCard?.profilePicture)!=null; else defaultImage"
                [src]="baseUrl+ showUserCard?.profilePicture" alt="{{showUserCard?.firstName}}" class="left-image">

            <ng-template #defaultImage>
                <img mat-card-image src="../../assets/images/blankProfilePic.webp" alt="{{showUserCard?.firstName}}"
                    class="left-image">
            </ng-template>

            <div>
                <label for="profilePicture" class="d-flex align-items-center" >
                    <mat-icon class="material-symbols-outlined" style="cursor: pointer;"> open_in_browser</mat-icon>
                    Edit Profile

                    <input type="file" id="profilePicture" (change)="onFileSelected($event)" accept="image/*" hidden>
                </label>
            </div>


        </div>

    </div>
    <hr>


</div>

<div class="container">
    <div class="row">

        <form [formGroup]="formOfUser">
            <div class="row justify-content-around">
                <div class="form-fields-group col-sm-5">


                    <mat-form-field appearance="outline" class="field-width">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" formControlName="userName">

                    </mat-form-field>

                    <mat-form-field appearance="outline" class="field-width">
                        <mat-label>User First Name</mat-label>
                        <input matInput type="text" formControlName="userFirstName">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>User Last Name</mat-label>
                        <input matInput type="text" formControlName="userLastName">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput type="text" formControlName="mobileNumber">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>User E-mail ID</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>

                    <!-- <span class="d-block " style="color: red;" *ngIf="!formOfUser.get('email')?.valid"> Invalid email id</span>
                     <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                     <div>
                        <button mat-raised-button (click)="changePass()" > Change Password </button>
                    </div>
                    <br>
                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>Dealership Name </mat-label>
                        <input matInput type="text" formControlName ="dlrshpName">
                    </mat-form-field> -->
                    <div>
                        <button mat-raised-button (click)="updateUserProfile()">Update Profile</button>

                    </div>

                </div>

                <!-- <div class="form-fields-group col-sm-3">
                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>Suite Number</mat-label>
                        <input matInput type="text" formControlName="suiteNumber">
                    </mat-form-field>
                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>State</mat-label>
                        <input matInput type="text" formControlName="state">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>City</mat-label>
                        <input matInput type="text" formControlName="city">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label>Zip Code</mat-label>
                        <input matInput type="number" formControlName="zipCode">
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label> Factory Salesmen </mat-label>
                        <input matInput type="text" formControlName="factorySalesmen" >
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label> Factory Manager </mat-label>
                        <input matInput type="text" formControlName="factoryManager" >
                    </mat-form-field>

                    <mat-form-field floatLabel="auto" appearance="outline" class="field-width">
                        <mat-label> Corporate Dealer </mat-label>
                        <input matInput type="text" formControlName="corporateDealer" >
                    </mat-form-field>

                    <div>
                        <button mat-raised-button (click)="updateUserProfile()">Update Profile</button>
                        
                    </div>

                </div> -->

            </div>
        </form>

    </div>
</div>